/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
    color:color ="black";
    font-size:70;
    font-family: 'Lobster', cursive;
    align-content: center;
    
}
 
p{
    font-family: 'Nunito', sans-serif;
    font-size:24;
    font-family: 'Nunito', sans-serif;     
}

img. { 
margin-left: auto } 

header {
    background-color: #f8b0b0;   /*  couleur de fond */
    height: 75px;                /* taille du bloc */
    padding-top: 15px;           /* centrer */
    padding-bottom: 20px;        /* centrer par rapport au texte */
}

ul, body {
    margin: 0;                   /* Pas de marge */
    padding: 0;                
}


header a {
    font-size: 30px;
    color: white;
    text-decoration: none;        /* Pas de décoration (souligné) */
}

.content{
    width:100%;
    max-width:800px;
    background-color:white;
    margin: auto;
    padding:30px;
}

.sidebar{
    width:200px;
    background:white;
    position: fixed;
    right:0;
    height:100%;
    top:75px;
}

header li {
    list-style: none;             /* Enlever le style de liste */
    display: inline-block;        /* liens aligné */
    width: 25%;                   /* centrer l'en-tête */
    margin-right:-4px;
    text-align: center;
}

li {
    font-family: 'Nunito', sans-serif ;
    font-size: 12px;
    list-style: none;
        
}


header .active { 
    background-color: #f2c2b4;        /* Bloc interactif et changement de couleur sur acceuil, parcours, contact*/
    border-radius: 15px;
}


header .active { 
    background-color: #f2c2b4;
    border-radius: 20px;
}

header .active { 
    background-color: #f2c2b4;
    border-radius: 15%;
}

.image {
    display: block;
    width: 30%;
    transition: all 1s ease;
    
}

.image:hover {

width: 30%; }

.bob { 
margin-right: 30%;
background-color: #990a62;
}

.rotation {
display: block;}

.rotation:hover {
    transform:scale(180deg);
    width: 5%
}



.boby { 
    margin-top:20px;
    margin-left: 70px;
    margin-right:1000px;
    text-align: justify;
}

.image-mode {
    max-width: 100%;
    display: block;
    margin:auto;
}